    
    h1 {
        color: rgb(218, 103, 10);
        font-size: 45px;
    }
    /* 3*3 Grid */
    #b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9 {
        width: 80px;
        height: 52px;
        margin: auto;
        border: 1px solid rgb(133, 122, 122);
        border-radius: 6px;
        font-size: 30px;
        text-align: center;
    }
    /* Reset Button */
    #but {
        box-sizing: border-box;
        width: 95px;
        height: 40px;
        border: 1px solid rgb(17, 127, 236);
        margin: auto;
        border-radius: 4px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgb(52, 94, 136);
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
    /* Player turn space */
    #print {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: dodgerblue;
        font-size: 20px;
    }
    /* Main Container */
    #main {
        text-align: center;
        background-color: burlywood;
         
    }
    /* Game Instruction Text */

    #ins {

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: dodgerblue;
        font-size: 17px;

    }